---
import Technologies from "../All/Technologies.astro";
---
<section class="flex justify-evenly   w-9/12">
    <img src="/profile.png" alt="profile" class="w-1/6 min-w-[20rem] "/>
    <div class="flex flex-col p-8 grow gap-2">
        <h1 class="text-4xl font-bold border-b-2 border-secondary py-4 first-letter:text-secondary text-tertiary ">
            <u class="text-secondary">J</u>oaquín <u class="text-secondary">G</u>arcía
        </h1>
        <p class="text-2xl text-gray-700">Desarrollador Web Full Stack</p>
         <p>Hola , soy un apasionado por la tecnología. Me encanta crear sitios web y aplicaciones,
            soy una persona proactiva y responsable, llevo un año en el mundo de la programación , y dia 
            a dia me esfuerzo por aprender nuevas cosas y mejorar mis habilidades.
         </p>
         <Technologies />
    </div>
</section>